extends ../layout

block content
  form(method='POST', action='/seller/edit/'+item._id)
    .row(style='margin-top: 20px;')
      .col-xl-5
        .itemadd_image
          input.itemadd_imageinput(type='file' id='customFile' multiple)
          label.itemadd_imagelabel(for='customFile') Upload Images
      .col-xl-7
        .row
          .col-md-6
            input.itemadd_formelements(
              name='title' type='text' placeholder='Title' maxlength=40 autocomplete='off' value=item.title)
          .col-md-3
            select.itemadd_select(
              name='sex' type='text' data-placeholder="Select")
              option(style='color: red')
              option.itemadd_sexoption Male
              option.itemadd_sexoption Female
              option.itemadd_sexoption Unisex
          .col-md-3
            input.itemadd_formelements(
              name='brand' type='text' placeholder= 'Brand' maxlength=20 value=item.brand)
        .row
          .col-md-4
            select.itemadd_selectmult.itemadd_select.itemadd_selecttype(
              name='type' type='text' multiple data-placeholder="Event")
              option.itemadd_typeoption Casual
              option.itemadd_typeoption Formal
              option.itemadd_typeoption Party
              option.itemadd_typeoption Outing
              option.itemadd_typeoption Camping
          .col-md-5
            select.itemadd_selectmult.itemadd_select.itemadd_selectcolor(
              name='color' type='text' multiple data-placeholder="Color")
              option.itemadd_coloroption Red
              option.itemadd_coloroption Green
              option.itemadd_coloroption Blue
              option.itemadd_coloroption Black
              option.itemadd_coloroption Yellow
              option.itemadd_coloroption Pink
              option.itemadd_coloroption Orange
              option.itemadd_coloroption Dark Blue
              option.itemadd_coloroption Purple
              option.itemadd_coloroption Whitw
              option.itemadd_coloroption Gold
          .col-md-3.itemadd_selectsize
            select.itemadd_selectmult.itemadd_select(
              name='measurement' type='text' multiple data-placeholder="Size")
              option.itemadd_sizeoption#XS XS
              option.itemadd_sizeoption#S S
              option.itemadd_sizeoption#M M
              option.itemadd_sizeoption#L L
              option.itemadd_sizeoption#XL XL
              option.itemadd_sizeoption#XXL XXL
        .row
          .col-md-7
            select.itemadd_selectmult.itemadd_select.itemadd_selectattr.chosen-select(
              name='attribute' type ='text' multiple data-placeholder="Type")
              option.itemadd_attroption Pants
              option.itemadd_attroption Boots
              option.itemadd_attroption Socks
              option.itemadd_attroption Skirt
              option.itemadd_attroption Dress
              option.itemadd_attroption T-Shirt
              option.itemadd_attroption Shirt
              option.itemadd_attroption Polo
              option.itemadd_attroption Tank-Top
              option.itemadd_attroption Sleaveless
              option.itemadd_attroption Suit
          .col-md-5
            input.itemadd_formelements(
              name='price' type='number' placeholder='Price' min=0 value=item.price)
        .row
          label Description:
          textarea.itemadd_formelements(
            name='description' type='text' rows=5)
            = item.description
        .row
          .col-md-7(style='margin: auto')
            input.btn.btn-outline-success.itemadd_button(type='submit',value='EDIT ITEM')
