extends ../layout

block content
  form(method='POST', action='/seller/edit/'+item._id)
    #form-group
      label Title:
      input.form-control(name='title', type='text' value=item.title)
    #form-group
      label Type:
      input.form-control(name='type', type='text' value=item.type)
    #form-group
      label Price:
      input.form-control(name='price', type='number' value=item.price)
    #form-group
      label Size:
      input.form-control(name='measurement', type='text' value=item.measurement)
    #form-group
      label Description:
      input.form-control(name='description', type='text' maxlength=69 value=item.description)
    #form-group
      label Color:
      input.form-control(name='color', type='text' value=item.color)
    br
    input.btn.btn-outline-success(type='submit',value='Submit')
